
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header, nav, h2, .main, footer {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

header .heading a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #38b48b;
}

.heading {
  padding-top: 10px;
}

.nav-list {
  text-align: center;
  margin: 10px 0;
}

.nav-list-item {
  margin: 0 20px;
  display: inline-block;
}

main {
  padding: 10px 40px 40px 40px;
  background-color: #ecfcdf;
}

.name-heading {
  text-align: center;
  padding-bottom: 10px;
}

.intro-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 10px;
  padding: 0 10px;
}

.introduction-img-area {
  width: 30%;
  margin-right: 10px;
}

.self-image {
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.introduction-area {
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding: 0 10px;
}

.row {
  line-height: 40px;
  display: flex;
}

.intro-label {
  width: 100px;
  font-weight: bold;

}

.intro-text {
  display: inline-block;
}

.social {
  margin: 0 20px 20px 0;
  margin-left: 90px;
}

.fab {
  padding: 0 10px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.footer-text {
  color: #fff;
}

@media screen and (max-width: 768px) {

  .intro-box {
    display: block;
  }

  .introduction-img-area {
    width: 100%;
  }

  .introduction-area {

    width: 100%;
  }

}